@tailwind base;
@tailwind components;
@tailwind utilities;


[lang="en"] body {
  font-family: Impact;
}

[lang="fa"] body {
  font-family: "Vazirmatn", sans-serif; 
}


:root{
  /* // Base
  "light":"#FFFFFF",
  "dark":"#000000",
  "gray":"#2C2C2C",
  // Bg
  "black-bg":"#131313",
  "light-bg":"#F4F4F4",
  // Green
  "light-green":"#00FF00",
  "dark-green":"#16BE0F",
  "soft-green":"#20D668",
  "info-green":"#5DBF28",
  "admin-green":"#0F5229",
  "admin-gray": "#DDDDDD",
  // Slider
  "green":"#16BE0F",
  "yellow":"#D9AD0B",
  "pink":"#E8077D",
  "red":"#A60502",
  "orange":"#C1391A",
  "blue":"#063465",
  // Details
  "placeHolder":"#ACADAC",
  "error":"#FF0000",
  "stars":"F8CE00" */
};



@layer components {
  .authBtn {
    @apply text-2xl text-light dark:bg-gray bg-soft-green rounded-2xl py-2 w-full mt-2 hover:opacity-90 duration-150 active:scale-[98%] disabled:opacity-80 dark:disabled:opacity-70 disabled:pointer-events-none;
  }
  .authInp {
    @apply outline-none bg-transparent border-[1px] w-full border-gray border-opacity-70 dark:border-light dark:border-opacity-40 rounded-2xl p-3 text-xl md:text-2xl dark:text-light focus:border-dark dark:focus:border-light duration-200 dark:placeholder-placeHolder placeholder:text-placeHolder;
  }
}

@layer utilities {
  .hide-number-controls::-webkit-inner-spin-button,
  .hide-number-controls::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-number-controls {
    -moz-appearance: textfield;
  }

  /* Hide scrollbar but keep functionality */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
}
