@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Impact;
}

@layer components {
  .authBtn {
    @apply text-2xl text-white dark:bg-gray bg-light-green rounded-2xl py-2 w-full mt-2 hover:opacity-90 duration-150 active:scale-[98%] disabled:opacity-60 dark:disabled:opacity-50 disabled:pointer-events-none;
  }
  .authInp {
    @apply outline-none bg-transparent border-[1px] w-full border-light-gray rounded-2xl p-3 text-xl md:text-2xl dark:text-white focus:border-gray dark:focus:border-white duration-200 dark:placeholder-white-smoke placeholder:text-light-gray;
  }
}

@layer utilities {
  .hide-number-controls::-webkit-inner-spin-button,
  .hide-number-controls::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-number-controls {
    -moz-appearance: textfield;
  }
}