@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Impact;
}

@layer components {
  .authBtn {
    @apply text-2xl text-light dark:bg-gray bg-soft-green rounded-2xl py-2 w-full mt-2 hover:opacity-90 duration-150 active:scale-[98%] disabled:opacity-80 dark:disabled:opacity-70 disabled:pointer-events-none;
  }
  .authInp {
    @apply outline-none bg-transparent border-[1px] w-full border-gray border-opacity-70 dark:border-light dark:border-opacity-40 rounded-2xl p-3 text-xl md:text-2xl dark:text-light focus:border-dark dark:focus:border-light duration-200 dark:placeholder-placeHolder placeholder:text-placeHolder;
  }
}

@layer utilities {
  .hide-number-controls::-webkit-inner-spin-button,
  .hide-number-controls::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-number-controls {
    -moz-appearance: textfield;
  }
}